<%- include('../partials/header') %>

    <h1>
        <%= title %> 
    </h1>
    <table id="list">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>abbreviation</th>
                <th>Man Of Coach</th>
                <th>Stadium Name</th>
                <th>League</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= teams.name %>
                </td>
                <td>
                    <%= teams.abbreviation %>
                </td>
                <td>
                    <%= teams.nameOfCoach %>
                </td>
                <td>
                    <%= teams.stadium %>
                </td>
                <td>
                    <%= teams.league %>
                </td>
        </tbody>
    </table>

    <table id="list">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Team Number</th>
                <th>Preferred Position</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= teams.playerName %>
                </td>
                <td>
                    <%= teams.playerNum %>
                </td>
                <td>
                    <%= teams.position %>
                </td>
        </tbody>
    </table>

    <%- include('../partials/footer') %>