<%- include('../partials/header') %>

    <h1>
        <%= title %>
    </h1>

    <table id="list">
        <thead>
            <tr>
                <th>Match</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Score</th>
                <th>Date</th>
                <th>Time</th>
                <th>Stadium</th>
                <th>Competition</th>
            </tr>
        </thead>
        <tbody>
            <td>
                <%= matches.matchTitle %>
            </td>
            <td>
                <%= matches.homeTeam.name %> (<%= matches.homeTeam.abbreviation %>)
            </td>
            <td>
                <%= matches.awayTeam.name %> (<%= matches.awayTeam.abbreviation %>)
            </td>
            <td>
                <%= matches.homeScore %> - <%= matches.awayScore %>
            </td>
            <td>
                <%= matches.date.toLocaleDateString() %>
            </td>
            <td>
                <%= matches.date.toLocaleTimeString() %>
            </td>
            <td>
                <%= matches.stadium %>
            </td>
            <td>
                <%= matches.competition %>
            </td>
        </tbody>
    </table>

    <table id="list">
        <thead>
            <tr>
                <th>Home Starters</th>
                <th>Away Starters</th>
                <th>Home Substitutes</th>
                <th>Away Substitutes</th>
            </tr>
        </thead>
        <tbody>
            <td>
                <ul>
                    <%- matches.homeStarters.map(p=>
                        `<li>
                            <article class="player-card">
                                <h2> ${p.playerName} </h2>
                                <p> <small>Position : </small>${p.position} </p>
                                <p> <small>Squad No. : </small>${p.playerNum} </p>
                            </article>
                        </li>`
                        ).sort().join('') %>
                </ul>
            </td>
            <td>
                <ul>
                    <%- matches.awayStarters.map(p=>
                        `<li>
                            <article class="player-card">
                                <h2> ${p.playerName} </h2>
                                <p> <small>Position : </small>${p.position} </p>
                                <p> <small>Squad No. : </small>${p.playerNum} </p>
                            </article>
                        </li>`
                        ).sort().join('') %>
                </ul>
            </td>
            <td>
                <ul>
                    <%- matches.homeSubs.map(p=>
                        `<li>
                            <article class="player-card">
                                <h2> ${p.playerName} </h2>
                                <p> <small>Position : </small>${p.position} </p>
                                <p> <small>Squad No. : </small>${p.playerNum} </p>
                            </article>
                        </li>`
                        ).sort().join('') %>
                </ul>
            </td>
            <td>
                <ul>
                    <%- matches.awaySubs.map(p=>
                        `<li>
                            <article class="player-card">
                                <h2> ${p.playerName} </h2>
                                <p> <small>Position : </small>${p.position} </p>
                                <p> <small>Squad No. : </small>${p.playerNum} </p>
                            </article>
                        </li>`
                        ).sort().join('') %>
                </ul>
            </td>
        </tbody>
    </table>

    <section>
        <h2>Include your take on the Match below<br> <br> Number of comments:<%= matches.reviews.length %></h2>
        <form id="add-review-form" method="POST" action="/matches/<%= matches._id %>/reviews">
            <label>Review:</label>
            <textarea class="review-textarea" name="content"></textarea>
            <input type="submit" value="Add Review">
        </form>
    </section>

    <% if (matches.reviews.length) { %>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
                <% matches.reviews.forEach(function(r) { %>
                    <tr>
                        <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>"
                                referrerpolicy="no-referrer"> </td>
                        <td>
                            <%= r.userName %>
                        </td>
                        <td>
                            <%= r.createdAt.toLocaleDateString() %>
                        </td>
                        <td>
                            <%= r.createdAt.toLocaleTimeString() %>
                        </td>
                        <td>
                            <!-- update reviews -->
                            <% if (user?._id.equals(r.user)) { %>
                                <form action="/reviews/<%= r._id %>?_method=PUT" method="POST">
                                    <textarea class="review-textarea-update" name="content" cols="15" rows="5">
                                    <%= r.content %>
                                    </textarea>
                        <td> <input type="submit" value="UPDATE" class="update-review-button"> </td>
                        </form>

                        <% } else {%>
                            <textarea class="review-textarea-update" name="content" cols="15" rows="5" disabled="true">
                                        <%= r.content %>
                                        </textarea>
                            <% } %>
                                </td>
                                <td>
                                    <!-- delete reviews -->
                                    <% if (user?._id.equals(r.user)) { %>
                                        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                            <button type="submit">X</button>
                                        </form>
                                        <% } %>
                                </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h5>No Reviews Yet</h5>
            <% } %>


                <%- include('../partials/footer') %>